<div class="form-row">
    <div class="form-group col-md-6">
        {{ form.nombre.label}}
        {{ form.nombre(class="form-control",id="inputNombre4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.apellidos.label}}
        {{ form.apellidos(class="form-control",id="inputApellidos4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.edad.label}}
        {{ form.edad(class="form-control",id="inputEdad4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.peso.label}}
        {{ form.peso(class="form-control",id="inputPeso4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.talla.label}}
        {{ form.talla(class="form-control",id="inputTalla4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.grupo_s.label}}
        {{ form.grupo_s(class="form-control",id="inputGrupo_s4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.temperatura.label}}
        {{ form.temperatura(class="form-control",id="inputTemperatura4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.fecha.label}}
        {{ form.fecha(class="form-control",id="inputFecha4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.sintomas.label}}
        {{ form.sintomas(class="form-control",id="inputSintomas4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.padecimientos.label}}
        {{ form.padecimientos(class="form-control",id="inputPadecimientos4")}}
    </div>
    <div class="form-group col-md-6">
        {{ form.alergias.label}}
        {{ form.alergias(class="form-control",id="inputAlergias4")}}
    </div>

<div class="form-group col-md-6">
    {{ form.tratamiento.label}}
    {{ form.tratamiento(class="form-control",id="inputTratamiento")}}
</div>
<div class="form-group col-md-6">
    {{ form.categoria_id.label}}
    {{ form.categoria_id(class="form-control")}}
</div>

</div>




