{% extends 'base/base.html' %}

{% block container %}
<div class="card">
    <h5 class="card-header">Receta</h5>
    <div class="card-body">
      <h5 class="card-title">{{paciente['nombre']}} {{paciente['apellidos']}}</h5>
      <form action="{{ url_for('pacientes.receta',id=paciente.id) }}" method="POST">
        {%include '_form.html'%}        
        
        <input type="submit" value="Crear Receta" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Paso 1">
        <a class="btn btn-secondary" href="/descargar/{{(paciente['nombre']+'.docx')}}"><i class="fa fa-file-download" data-toggle="tooltip" data-placement="top" title="Paso 2"></i></a> 
        </form>
      
    </div>
  </div>
  
{% endblock %}
    
